@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.calculator {
  margin: 20px auto 0;
  width: 500px;
  padding: 15px;
  background-color: #e7ecef;
  border: 2px solid #8b8c89;
  border-radius: 5px;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #8b8c89;
  border-radius: 3px;
}

.btns-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.calc-btn {
  font-family: inherit;
  flex-basis: 109px;
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #ffef9f;
  border-bottom: 2px solid #8b8c89;
}

.calc-btn:hover {
  background-color: #ffea81;
}

.btn-half {
  flex-basis: 228px;
  background-color: #ffd6e0;
}

.btn-half:hover {
  background-color: #ffb5c7;
}

.equals {
  background-color: #7bf1a8;
}

.equals:hover {
  background-color: #62ee98;
}

.operator {
  background-color: #90f1ef;
}

.operator:hover {
  background-color: #75eeec;
}

.calc-btn:active {
  scale: 0.9;
}
